# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/
.idea/



# Python files #
build
dist
phoebusgen.egg-info/

*.swp

examples/*.bob
!examples/exampleInPhoebus.bob

local/

.docbuild/_build
.docbuild/source
docs

phoebusgen/_version.py
