# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

venv/
.idea/

files/widgets/label_test.bob


# Python files #
build
dist
phoebusgen.egg-info/
tests/*.bob

*.swp

examples/*.bob

local/

docs/_build
