include phoebusgen/config/*.def
include phoebusgen/config/*.bcf
include phoebusgen/examples/*.py
include README.md
include LICENSE
include requirements.txt
include versioneer.py
include phoebusgen/_version.py
